
/* css of main */
main{
  margin: 10px 200px 0 400px;
}

/* css section image  */
.image{
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 250px;
  
}
/* css of img avatar */
.img-thumbnail{
  height: 200px !important;
  margin-bottom: 10px;
}
/* css section inscri */
.inscri{
  display: flex;
  justify-content: space-between;
}
/* css of choisir un fichier */
.form-control{
width: 300px !important;
}
.input-group-sm{
  width: 300px !important;  
}
/* css div area address */
#exampleFormControlTextarea1{
  width: 450px !important; 
}

/* css button  */
.col-12{
  margin-left: 300px;
}

